:root {
  --color-light-purple-1: #f9f7fd;
  --color-light-purple-2: #f2eefb;
  --color-light-purple-3: #f3ebf9;
  --color-light-purple-3-06: rgba(243, 235, 249, 0.6);
  --color-light-purple-4: #ebe5f8;
  --color-light-purple-5: #f7f5fc;
  --color-light-purple-5-05: rgba(247, 245, 252, 0.5);
  --color-light-purple-6: #e3d7ff;
  --color-light-purple-7: #f4efff;
  --color-purple-1: #7f56d9;
  --color-purple-1-05: #7f56d90d;
  --color-purple-2: #652d8f;
  --color-purple-3: #652d8f4d;
  --color-purple-4: #8d6cd5;
  --color-purple-5: #6941c6;
  --color-dark-purple-1: #735ea7;
  --color-white: #fff;
  --color-white-2: #f8f8f8;
  --color-white-3: #f7f7f7;
  --color-white-4: #f2f2f2;
  --color-white-4-08: #f2f2f280;
  --color-white-5: #eee;
  --color-white-5-06: #eeeeee99;
  --color-black: #000;
  --color-black-2: #151515;
  --color-black-2-5: #1515150d;
  --color-black-3: #181d27;
  --color-black-3-01: #181d271a;
  --color-black-3-05: #181d27;
  --color-black-3-06: #181d2799;
  --color-black-3-07: #181d27b2;
  --color-black-3-08: #181d27cc;
  --color-black-4: #151515b3;
  --color-black-5: #0c111d;
  --color-black-01: #0000001a;
  --color-black-06: #00000099;
  --color-black-07: #000000b2;
  --color-black-08: #000000cc;
  --color-black-09: #151515e5;
  --color-gray-1: #666;
  --color-gray-2: #515151;
  --color-gray-3: #959595;
  --color-gray-4: #878787;
  --color-gray-5: #667085;
  --color-gray-5-06: #e5e5e599;
  --color-gray-6: #b7b7b7;
  --color-gray-7: #8c8c8c;
  --color-gray-8: #7a7a7a;
  --color-gray-8-05: #7a7a7a80;
  --color-gray-9: #898989;
}
